.header {
  height: 11.5vh;
}

.page-content {
  min-height: 80vh;
}

.layout {
  display: flex;
  height: 100%;
}

.layout .content {
  flex-grow: 1;
}

.arial {
  font-family: Arial;
}

html,
body,
#root {
  height: 100%;
}
